* {
  color: var(--text-color);
}

:root {
  --text-color: #2E3440;
  --text-color2: #4C566A;
  --background-color: #D8DEE9;
  --muted-current-color: #434C5E;
  --background-current: #81A1C1;
  --card-backround-color: #ECEFF4;
  --icon-background-color: white;
  --button-color: #5E81AC;
  --clear-button: #BF616A;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.h3color {
  color: var(--text-color2)
}

.startHidden {
  display: none;
}

#search-bar2 .btn-custom {
  margin: 5px 5px 0 0;
  background-color: #BF616A;
  color: #ffffff
}

.text2 {
  color: var(--text-color2);
}

#history {
  margin: 5px 5px 0 0;
}

.btn-custom2 {
  background-color: var(--button-color);
  color: #ffffff
}

.background {
  background-color: var(--background-color);
}

.card-background {
  background-color: var(--card-backround-color)
}

#search-history .btn-history {
  background-color: var(--button-color);
}

.current {
  background-color: var(--background-current);
}

.button-container {
  background-color: var(--icon-background-color);
}

.img-container {
  background-color: var(--icon-background-color);
}

.current-muted {
  color: var(--muted-current-color)
}